<!DOCTYPE html>
<html lang="en">
  
    <%- include("./partials/head") %> 
  <body>
    
    <%- include("./partials/nav") %> 

    <div class="blogs content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo qui error culpa ipsam incidunt sint accusantium ab similique. Tenetur quia minus iusto quod doloribus vel dolor exercitationem nobis nulla a!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo qui error culpa ipsam incidunt sint accusantium ab similique. Tenetur quia minus iusto quod doloribus vel dolor exercitationem nobis nulla a!</p>
    </div>
    <%- include("./partials/footer") %> 
  </body>
</html>
